/* --- common start ---  */
*{
     margin: 0;
     padding: 0;
     outline: 0;
     box-sizing: border-box;
}
a{
     text-decoration: none;
}
a:hover{
     text-decoration: none;
}
ul,ol{
     list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
     line-height: 0.8;
}
h1,h2,h3,h4,h5,h6{
     font-family: 'Alfa Slab One', cursive;
     font-weight: 400;
     color: #3d2514;
}
p{     
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
      /* font-family: 'Bebas Neue', cursive; */
}
img{
     max-width: 100%;
     height: auto;
}
/* ---- common end ----  */

/* --- header start ---  */
.header{
	height: 100vh;
	background: url("../images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0px 0px;
}
.header .home{
	width: 100%;

}
.corner{
	padding-right: 15px;
}
.corner img{
     width: 40px;
     padding-top: 5px;
}

.header .home .corner {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
.header .home p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	color: #3d2514;
	margin: 0px 0px 0px;
}
.header .home span{
	font-size: 16px;
	margin: 0px 0px 0px 6px;
}
.header .home .linking{
	width: 100;
	text-align: right;
	margin-bottom: -1rem;

}
.header .home .linking ul{
	width: 100%;

	
}
.header .home .linking ul li{
	list-style: none;
	display: inline-block;
	
}
.header .home .linking ul li a {
  display: inline-block;
  margin: 18px 0px 0px 54px;
  letter-spacing: 3px;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  font-weight: 300;
  color: #3d2514;
  text-transform: uppercase;
  transition: all linear .4s;
  position: relative;

}
.header .home .linking ul li a::after{
     position: absolute;
     content: '';
     bottom: -5px;
     left: 50%;
     transform: translatex(-50%);
     width: 0px;
     height: 3px;
     background-color: #bf2222;
     transition: all linear .4s;
}
.header .home .linking ul li a:hover::after{
     width: 100%;
}
.header .home .linking ul li a:hover{
     color: #bf2222;
}
.banner-text{
	margin-top: 160px;
}
.banner-text p{
	font-family: 'Bebas Neue', cursive !important;
	font-size: 16px;
	line-height: 32px;
	font-weight: 0;
	color: #3d2514;
	margin: 90px 0px 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
}
.banner-text p span{
	padding: 0 14px;
	padding-top: 9px;
	padding-bottom: 6px;
	border: 2px dashed #3d2514;
	font-size: 23px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
}
.banner-text h1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 120px;
	line-height: 130px;
	font-weight: 700px;
	text-shadow: 1px 4px 10px #fff;
	text-transform: uppercase;
	color: #3d2514;
	margin: 10px 0px 0px;
}
.banner-text h3{
	font-family: 'Alfa Slab One', cursive;
	font-size: 50px;
	line-height: 60px;
	font-weight: 700px;
	text-shadow: 1px 4px 10px #fff;
	text-transform: uppercase;
	color: #3d2514;
	
}
/*--- header css end ---*/

/*--- info css start ---*/
.info{
	width: 100%;
	padding: 80px 0px 47px;
}
.info .card{
	margin: 0px 0px 33px;
	border: 1px solid #fff;
}
.info .card h5{
	font-family: 'Bebas Neue', cursive;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400px;
	color: #fff;
	margin: 10px 0px 0px;


}
.info .card h3{
	font-family: 'Bebas Neue', cursive;
	font-size: 34px;
	line-height: 44px;
	font-weight: 600px;
	color: #fff;
	margin: 0px 0px;


}
.info .card{
     overflow: hidden;
     border-radius: 10px;
}
.info .card-img{
     transition: all linear .4s;
     border-radius: 5px;
}
.info .card:hover img{
     transform: scale(1.2);
}
/*---- info css end -----*/

/*---- choose  start ---*/
.choose{
	width: 100%;
	padding: 60px 0px;
	
}
.choose .inner-choose{
	width: 100%;
	padding: 0px 0px 80px;
	text-align: center;
}
.choose .inner-choose h5{
	font-family: 'Bebas Neue', cursive;
	font-size: 28px;
	line-height: 38px;
	font-weight: 200px;
	color: #3d2514;
	margin: 0px 0px 40px;
}
.choose .inner-choose h5 span{
	background: #ffc045;
	padding: 7px 14px;
}


.choose .inner-choose h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 44px;
	line-height: 54px;
	font-weight: 500px;
	color: #3d2514;
	margin: 0px 0px 20px;
	
}
.choose .inner-choose p{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 200px;
	color: #3d2514	
	
}

.burger-img{
	width: 98%;
	text-align: center;
}
.burger-img h3{
	font-family: 'Bebas Neue', cursive;
	font-size: 34px;
	line-height: 40px;
	font-weight: 600px;
	margin: 25px 0px 8px;
	color: #3d2514

}
.burger-img p{
		font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 200px;
	margin: 0px 0px 25px;
	color: #3d2514	
}

.burger-img a{
	display: inline-block;
	font-family: 'Alfa Slab One', cursive;
	font-size: 12px;
	line-height: 22px;
	font-weight: 200;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	
}
.burger-img .btn-primary{
	background: #bf2222;
	padding: 10px 35px;
	color: #fff;
     transition: all linear .4s;

}
.burger-img .btn-primary:hover{
	background:#3d2514	
     ;
	padding: 10px 35px;
	color: #fff;

}

/* ---- choose end -- -- */
/* ---- Slider start --- */
.slider{
	padding: 65px 40px;
}

.slider-item{
	padding: 25px;
}
.slider-text{
	padding-top: 30px;
}
.slider .owl-theme{
	width: 100%;
	box-shadow: 1px 12px 12px 1px #ccc;
}
.slider-text h4{
	font-size: 30px;
	color: #3d3d3d;
	font-weight: 400;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	padding-top: 5px;
}
.slider-text h2{
	font-size: 40px;
	color: #3d2514;
	font-weight: 400;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 20px;
}
.slider-text p{
	font-size: 20px;
	color: #3d3d3d;
	font-weight: 400;
	line-height: 30px;
}
.slider .owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: -70px;
	position: absolute;
	margin-left: 23px;
      }
.slider .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffc045;

}
.slider .owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  margin: 5px 5px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}

/* ---- Slider  end ---- */
/* ---- reserve start -- */
.reservation{
	padding: 340px 0;
	background: url(../images/reserve.jpg)center no-repeat  ;
	background-size: cover;
}
.reservation .heading{
	text-align: center;
}
.heading h4{
	font-size: 30px;
	color: #3d2514;
	font-weight: 400;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.heading h2{
	font-size: 50px;
	color: #3d2514;
	font-weight: 400;
	text-transform: uppercase;
}
/* --- reserve  end ---- */